
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 25px;
}

.aplicativo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px auto;
}

.cartao {
    border: 1px solid lightgray;
    border-radius: 25px;
    transition: all .5s;
}

.cartao:hover {
    transform: scale(1.03);
}

.cartao__corpo {
    margin: 25px;
}

.titulo {
    color: black;
    font-size: 1.42rem;
}

.titulo::first-letter {
    text-transform: uppercase;
}

.descricao {
    color: gray;
    font-size: .75rem;
}

.descricao::first-letter {
    text-transform: uppercase;
}

[class ^="botao__"] {
    border: none;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: 900;
    padding: 5px 20px;
    transition: transform .5s;
}

[class ^="botao__"]:hover {
    transform: scale(.9);
}

.botao__excluir {
    background-color: red;
    color: white;
}

.botao__editar {
    background-color: gray;
    color: white;
}

.my {
    margin: 25px 0;
}